/* Reset default styles to avoid white gaps in popup */
html,
body {
  margin: 0;
  padding: 0;
  width: 400px;
  min-height: 550px;
  background-color: white;
  transition: background-color 300ms;
}

.dark body {
  background-color: #0d1117;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #0d1117;
  }
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}